/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: IBM Plex Mono;
  --main-color: #FF0070;
  --accent-color: #DB00FF;
  --bg-color: #000028;
  --text-collor: #F1B2CE;
  --accent_text-collor: #FF0070;
  --hover_text-collor: #FF007066;
  --title_text-collor: #000028;
}