/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-color: #FF8DCB;
  --accent-color: #FFC2E6;
  --bg-color: #FFF1F7;
  --text-color: #353430 ;
  --hover_text-color: #32312D66;
  --accent_text-color: #353430;
  --title_text-color: #353430;
}